div{
    margin-left: 200;
}

.title{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(30, 183, 230);
    text-align: center;
}

h1{
    color: rgb(199, 14, 255);
    
}

h2{
    color: rgb(30, 133, 230);
}

